*{
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--main-background);
	font-family:"DM Serif Display";
	font-size: 20px;
    color: var(--main-title);
}

h1{
	font-family: "Dancing Script", cursive;
	margin: 20px 0 50px 0;
    font-size: 50px; 
    text-align: center;
}

h2{
    width: 10%;
    max-width: 600px;
    margin: 0 auto 20px auto;
}


section {
  max-width: 1200px;
  margin: 20px auto;
  background: white;
  padding: 20px 20px 5px 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px var(--article-background);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding-bottom: 15px;
}

td {
  padding: 15px 0;
  border-top: 2px solid var(--main-title);
  vertical-align: middle;
}

tr.ligne:hover {
  background: #E7E7E7;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.case {
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
}
.payee,.livraison {
  background: #d9f2ea;
  color: #1f8f6f;
}

.preparation {
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  background: #e4e0ff;
  color: #5b4bdb;
}


.barres {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 35px;
    cursor: pointer;
    z-index: 1000;
}

.barres span {
    display: block;
    height: 3px;
    background: var(--main-title);
    margin: 6px 0;
    border-radius: 2px;
}

.top-icons {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    z-index: 1000;
}

.icon {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.infos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}


footer{
    background-color: var(--main-title);
    text-align: center;
    padding: 20px;
    color: white;
    width: 100%;
    margin-top: auto;
}
