*{
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--main-background);
	font-family:"DM Serif Display";
	font-size: 20px;
    color: var(--main-title);
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

h1{
	font-family: "Dancing Script", cursive;
	margin: 20px 0 50px 0;
    font-size: 50px; 
    text-align: center;
}

h2{
    max-width: 1200px;
    margin: 0 auto 20px auto;
}

section {
  max-width: 100%;
  margin: 20px auto;
  background: white;
  padding: 5px 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px var(--article-background);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

th, td{
    padding: 15px 20px;
}

th {
  text-align: left;
}

td {
  border-top: 2px solid var(--main-title);
  vertical-align: middle;
}

tr.ligne:hover {
  background: #E7E7E7;
}

.bouton-details {
  background: none;
  border: none;
  cursor: pointer;
}

.fleche {
  width: 20px;
  height: 20px;
}

.case {
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
}
.payee,.livraison {
  background: #d9f2ea;
  color: #1f8f6f;
}

.preparation {
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  background: #e4e0ff;
  color: #5b4bdb;
}


.barres {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 35px;
    cursor: pointer;
    z-index: 1000;
}

.barres span {
    display: block;
    height: 3px;
    background: var(--main-title);
    margin: 6px 0;
    border-radius: 2px;
}

.top-icons {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    z-index: 1000;
}

.icon {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.infos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}


footer{
    background-color: var(--main-title);
    text-align: center;
    padding: 20px;
    color: white;
    width: 100%;
    margin-top: auto;
}

@media screen and (max-width: 1500px) {
  section {
    margin: 20px 10px;
  }
}
