*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: url(images/fond.png);
	background-position: center;
	background-size: cover;
	backdrop-filter: blur(8px);
	font-family:"DM Serif Display";
	font-size: 20px;
    color: var(--main-title);
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
	font-family: "Dancing Script", cursive;
	margin: 20px 0 50px 0;
    font-size: 50px; 
    text-align: center;
}

section{
    text-align: center;
}

legend{
	font-size: 30px;
	font-weight: bold;
}

fieldset{
	border-color: var(--article-background);
    border-radius: 20px;
	padding: 40px 70px;
	width: 90%;
	max-width: 600px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(3px);
}


div.input{
    width: 100%;
    position: relative;
	text-align: left;
	margin-bottom: 20px;
}

input{
    width: 100%;
	padding: 10px;
	margin-top: 5px;
    border-radius: 25px;
    outline: none;
	background-color: transparent;
    border: 2px solid var(--main-title);
    font-size: 15px;
}

input[type="password"]{
    padding-right: 40px;
}

fieldset img{
    position: absolute;
    right: 10px;
    top: 60%;
    width: 25px;
    cursor: pointer;
}

.bouton{
	border: 2px double var(--article-background);
    border-radius: 25px;
    width: 150px;
    padding: 10px;
	background-color: var(--article-background);
	font-size: 15px;
    color: var(--main-title);
    text-decoration: none;
    cursor: pointer;
}

.bouton:hover{
  background-color: transparent;
}

#mdpoublie{
    display: inline-block;
    margin: 15px 0;
	font-size: 15px;
    color: var(--main-title);
}

#mdpoublie:hover{
    color: var(--article-background);
}

p{
	padding: 30px ;
}

.barres {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 35px;
    cursor: pointer;
    z-index: 1000;
}

.barres span {
    display: block;
    height: 3px;
    background: var(--main-title);
    margin: 6px 0;
    border-radius: 2px;
}

.top-icons {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    z-index: 1000;
}

.icon {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.infos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}


footer{
    background-color: var(--main-title);
    text-align: center;
    padding: 20px;
    color: white;
    width: 100%;
    margin-top: auto;
}
