@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
:root {
--main-background: #fcf9f4;
--article-background: #bba06f;
--main-title: #322119;
--article-title: ;
--small-text:;
--light-black:;
}

