body>main
{
	display: grid;
	grid-template-areas:
		"left-aside header header"
		"left-aside section right-aside"
		"left-aside footer footer";
	grid-template-rows: 70px auto 50px;
	grid-template-columns: clamp(200px, 22%, 290px) auto 200px;
}
@media screen and (max-width: 760px) { /* ne s'applique que sur les écrans dont la largeur est inférieure à 760px */
	body>main
	{
		display: grid;
		grid-template-areas:
			"header"
			"left-aside"
			"section"
			"right-aside"
			"footer";
		grid-template-columns: 100%;
		grid-template-rows: 70px auto auto auto 70px;
	}
	article
	{
		width: 95%;
		border: 1px solid var(--article-background);
		margin: 5px;
		padding: 5px;
	}
}
main>aside.left
{
	grid-area: left-aside;
	background-color: var(--article-background);
	padding: 30px 30px 30px 30px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
