body>main
body>main
{
	display: grid;
	grid-template-areas:
		"header header header"
		"left-aside section right-aside"
		"footer footer footer";
	grid-template-rows: auto auto 50px;
	grid-template-columns: 200px auto 200px;
}
@media screen and (max-width: 760px) { /* ne s'applique que sur les écrans dont la largeur est inférieure à 760px */
	body>main
	{
		display: grid;
		grid-template-areas:
			"header"
			"left-aside"
			"section"
			"right-aside"
			"footer";
		grid-template-columns: 100%;
		grid-template-rows: 70px auto auto auto auto;
	}
	article
	{
		width: 95%;
		border: 1px solid var(--article-background);
		margin: 5px;
		padding: 5px;
	}
}

main>aside.left
{
	grid-area: left-aside;
	background-color: var(--main-background);
	padding: 30px 30px 30px 30px;
}



.barres {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 35px;
    cursor: pointer;
    z-index: 1000;
}

.barres span {
    display: block;
    height: 3px;
    background: var(--main-title);
    margin: 6px 0;
    border-radius: 2px;
}

.top-icons {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    z-index: 1000;
}

.icon {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.infos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}
    
.icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

h1 {
    color: var(--main-title);
    font-family: "Dancing Script", cursive;
    text-align: center;
    margin-top: 20px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}

body>main>header
{
	grid-area: header;
	background-color: var(--main-background);
	color: var(--main-title);
}

main>aside.right
{
	grid-area: right-aside;
	border-left: 1px solid var(--main-title);
	background-color: var(--main-background);
	text-align: center;
}
main>section
{
	grid-area: section;
	min-height: 600px;
	background-color: var(--main-background);
}
main>footer
{
	grid-area: footer;
	background-color: var(--main-title);
    text-align: center;
    color: white;
}

p.perso{
	line-height: 200%;
}
