body>main
{
	display: grid;
	grid-template-areas:
		"header header header"
		"left-aside section right-aside"
		"footer footer footer";
	grid-template-rows: auto auto 50px;
	grid-template-columns: 200px auto 200px;
}
@media screen and (max-width: 760px) { /* ne s'applique que sur les écrans dont la largeur est inférieure à 760px */
	body>main
	{
		display: grid;
		grid-template-areas:
			"header"
			"left-aside"
			"section"
			"right-aside"
			"footer";
		grid-template-columns: 100%;
		grid-template-rows: 70px auto auto auto 70px;
	}
	article
	{
		width: 95%;
		border: 1px solid var(--article-background);
		margin: 5px;
		padding: 5px;
	}
}

main>aside.left
{
	grid-area: left-aside;
	background-color: var(--article-background);
	padding: 30px 30px 30px 30px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}

body>main>header
{
	grid-area: header;
	background-color: var(--main-background);
	color: var(--main-title);
}

main>aside.right
{
	grid-area: right-aside;
	border-left: 1px solid var(--main-title);
	background-color: var(--main-background);
}
main>section
{
	grid-area: section;
	min-height: 600px;
	background-color: var(--main-background);
}
main>footer
{
	grid-area: footer;
	background-color: var(--main-background);
}
