/*----------header---------*/
header{
    grid-area: header;
    padding: 20px;
	color: var(--main-title);
}

.barres {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 35px;
    cursor: pointer;
    z-index: 1000;
}

.barres span {
    display: block;
    height: 3px;
    background: var(--main-title);
    margin: 6px 0;
    border-radius: 2px;
}

h1{
	font-family: "Dancing Script", cursive;
	margin-top: 20px;
    text-align: center;
}

#prod{
	   text-align:left;
	   font-size:60px;
    color: var(--main-title);
}

.logo{
    text-decoration: none;
    color: var(--main-title);
}

.top-icons {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    z-index: 1000;
}

/* conteneur profil */
.profil-menu {
    position: relative;
}

/* liens */
.profil-bulle a {
    display: block;
    padding: 10px 18px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.profil-bulle a:hover {
    background: var(--article-background);
}

/* bulle cachée */
.profil-bulle {
    position: absolute;
    top: 50px;
    right: 0;

    background: white;
    border-radius: 12px;
    min-width: 160px;
    padding: 10px 0;

    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.25s ease;
}

/* apparition */
.profil-menu:hover .profil-bulle {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.icon#panier {
    width: 53px;
    height: 53px;
    cursor: pointer;
}
/*---------------*/
.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid var(--article-background);
    border-radius: 20px 0 0 20px;
    outline: none;
    font-size: 1rem;
}

.search-bar button {
    padding: 8px 12px;
    border: 1px solid var(--article-background);
    background-color: var(--article-background);
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button img {
    width: 25px;
    height: 23px;
}

/*menu horizontal "Nos Menus" et "Tout nos produits"*/
.menu-horizontal {
    width: 100%;
    border-bottom: 2px solid #eee;
    background-color: white;
}

.menu-horizontal ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 0;
    margin: 0;
}

.menu-horizontal a {
    text-decoration: none;
    font-size: 18px;
    color: #555;
    padding-bottom: 8px;
    position: relative;
    transition: 0.3s;
}

/* Effet hover */
.menu-horizontal a:hover {
    color: var(--article-background);
}

/* Soulignage animé */
.menu-horizontal a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--article-background);
    transition: 0.3s;
}

/* Hover = apparition du trait */
.menu-horizontal a:hover::after {
    width: 100%;
}

/* Page active */
.menu-horizontal a.active {
    color: var(--article-background);
}

.menu-horizontal a.active::after {
    width: 100%;
}

/*----------footer---------*/
.infos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer{
    background-color: var(--main-title);
    text-align: center;
    padding: 15px;
    color: white;
    width: 100%;
    margin-top: auto;
}
/*---------------*/

/* icone du header et du footer */
.icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
